body
{
    color: grey;
}

a 
{
  color: #fe8c09 !important;
  text-decoration: none;
  line-height: inherit; 
}

.icon-bar > *:hover
{
  background-color: #fe8c09;
}
  
table.status 
{
    table-layout:fixed; 
    width:100%;
}

table.status td 
{
    word-wrap:break-word;
}

@media screen and (max-width: 400px)

{   
    table thead tr th, 
    table tfoot tr th, 
    table tfoot tr td, 
    table tbody tr th, 
    table tbody tr td, 
    table tr td {
        display: table-cell;
        float: left;
        line-height: 1.125rem;
    }
    
    table.status th {
        display:none;
    }
    
    table.status tbody:nth-child(2) tr {
        display: inline-block;
        border-bottom: 1px solid #ccc;
    }

    table.status tbody:nth-child(1) tr {
        border-bottom: none;
    }
    
}