
<?php echo $this->getContent() ?>

<div align="right">
    <?php echo $this->tag->linkTo(array("projects/new", "Create projects")) ?>
</div>

<?php echo $this->tag->form(array("projects/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search projects</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="name">Name</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("name", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="stack">Stack</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("stack", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="url">Url</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("url", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="description">Description</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("description", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="purpose">Purpose</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("purpose", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="outcome">Outcome</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("outcome", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="status">Status</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("status", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="client">Client</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("client", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>
