<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<div align="center">
    <h1>List projects</h1>
</div>

<table class="status">
    <thead>
        <tr>
            <th>Project</th>
            <th>Stack</th>
            <th>Url</th>
            <th>Info</th>
            <th>Purpose</th>
            <th>Outcome</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Status</th>
            <th>Client</th>
            <th>Edit</th>
            <th>Delete</th>            
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $project) { ?>
        <tr>
            <td><?php echo $this->tag->linkTo(array("projects/view/" . $project->id, $project->name)); ?></td>
            <td><?php echo $project->stack ?></td>
            <td><a id="project_<?php echo $project->id ?>" lass="projectURL" target="_blank" href="<?php echo $project->url ?>" title="<?php echo $project->description ?>" title="<?php echo $project->url ?>">Site Url</a></td>
            <td>
              <a title="<?php echo $project->description ?>">Info</a>       
            </td>
            <td><?php echo $project->purpose ?></td>
            <td><a title="<?php echo $project->outcome ?>">Outcome</a></td>
            <td><?php echo $project->created ?></td>
            <td><?php echo $project->modified ?></td>
            <td id="project_status_<?php echo $project->id ?>"><?php echo (!$project->status)? 'unset' : $project->status; ?></td>
            <td><?php echo $project->client ?></td>
            <td><?php echo $this->tag->linkTo(array("projects/edit/" . $project->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("projects/delete/" . $project->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td><?php echo $this->tag->linkTo("projects/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("projects/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("projects/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("projects/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
