
<?php echo $this->getContent(); ?>

<?php echo $this->tag->form("projects/save") ?>

<table width="100%">
    <tr>
        <td align="left"><?php echo $this->tag->linkTo(array("projects", "Back")) ?></td>
        <td align="right"><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

<div align="center">
    <h1>Edit projects</h1>
</div>

<table width="100%">
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "type" => "number", "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="name">Name</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("name", "size" => 30, "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="stack">Stack</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("stack", "size" => 30, "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="url">Url</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("url", "size" => 30, "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="description">Description</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("description", "type" => "date", "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="purpose">Purpose</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("purpose", "size" => 30, "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="outcome">Outcome</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("outcome", "size" => 30, "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="status">Status</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("status", "type" => "number", "readonly" => "readonly", "readonly" => "readonly")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="client">Client</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("client", "size" => 30, "readonly" => "readonly")) ?>
        </td>
    </tr>

    <tr>
        <td><?php echo $this->tag->hiddenField("id") ?></td>
        <td><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

</form>
